// Specific CSS for your home-page
// .titre {
//   size: 40px;
//   font-family: $font;
// }

@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,500;0,563;1,500;1,562&display=swap');

.title {
  padding-top: 30px;
  color:$green;

  h1 {
    font-size: 70px;
    line-height: 80px;
  }
}
.title-2 {
  // margin-top: 100px;
  color: #41E2BA;

  h1 {
    font-size: 70px;
    line-height: 80px;
  }
}

.subtitle {
  h2 {
    font-size: 32px;
    color: white;
    text-align: center;
  }
  h3 {
    margin-top: -15px;
    padding-bottom: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    color: #495057;
  }
}
// .subtitile-1 {
//   font-family: literaty;
//   font-size: 40px;
//   font-weight: 200;
//   color: lightgray;
//   line-height: 30px;
//   text-shadow: 1px 1px 1px rgba(0,0,0,0.2);

// }

h4  {
  font-family: helvetica;
  font-size: 20px;
  color: #41E2BA;
  line-height: 30px;
  // text-shadow: 1px 1px 3px rgba(50, 1, 5, 0.3);
}

// .subtitle-1 {
//   color: white;
//   font-size: 20px;
//   text-shadow: 1px 1px 3px rgba(50, 1, 5, 0.3);
// }

.sub-title {
  color: #00ad82;
  font-weight: 500;
}

#form_trip {
  position: fixed;
  top: 120px;
  right: 70px;
  border-radius: 15px;
  background: linear-gradient(133deg, rgba(65,226,186,1) 0%, rgba(42,204,171,1) 63%, rgba(20,183,185,1) 100%);
  #new_trip {
    padding: 46px 30px;
    width: 100%;
    h2 {
      font-size: 34px;
      color: white;
      font-family: Literata;
    }
    input, select {
      border: none;
      border-bottom: 1.2px solid white;
      background: none;
      border-radius: 0px;
      color: white;
      height: 58px;
      &::placeholder {
        color: white;
        font-size: 16px;
      }
      &:focus {
        outline: none;
      }
    }
    select option {
      color: gray;
    }
    input.btn-primary {
      text-transform: uppercase;
      background: white;
      color: $green;
      border-radius: 30px;
      width: 50% !important;
      display:block;
      margin: 30px auto 0;
    }
    label {
      color: white;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}

//new home astrid

.background-img {
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background-image: linear-gradient(rgba(0, 0, 0, -0.6),rgba(0, 0, 0, -0.6)), url(asset-path("land.jpg"));
  color : white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.card-home-page {
  padding-left: 20px;

}

.cards-bottom {
  display: flex;
  justify-content: space-between;
}

.bottom-btn {
margin-left: 300px;
}

.btn-ghost {
  color: #41E2BA;
  border: 1px solid #41E2BA;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  font-weight: bold;
  transition: opacity 0.3s ease;
}


.bottom-title {
  font-family: "Literata", "Helvetica", "sans-serif";
}

// end new home astrid

#banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 95vh !important;
}

.cards-home {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  //padding: 10px;
}

.card-home {
  //display: flex;
  width: 32%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: scale .7s ease-out;
  transform: scale(1);
  &:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    transform: scale(1.03);
    transition: scale .7s ease-out;
  }
}

.card-home > img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.card-home .card-home-infos h2 {
  color: #14b8b9;
  font-size: 26px;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 10px;
}

.card-home p {
  color: #495057;
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.card-home h3 {
  font-family: literata;
}

.card-home .card-home-infos {
  padding: 20px 15px 30px 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

a {
  text-decoration: none;
  background-color: transparent;
  &:hover {
    text-decoration: none;
  }
}

.card-home-infos .card-home-user {
  position: absolute;
  right: 20px;
  top: -30px;
  width: 50px;
}

.descrption-home {
  h2 {
    font-family: literata;
  }
}